<div>
  <app-select-avatar [avatar]="avatar"></app-select-avatar>

  <div class="field">
    <div class="control">
      <label>
        <input class="input" type="text" placeholder="Gib hier deinen Namen ein"
               [(ngModel)]="username">
      </label>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-link" *ngIf="game" fxFlex="1 1 100%" (click)="joinGame()">
        Spiel beitreten
      </button>
        <button class="button is-link" *ngIf="!game" fxFlex="1 1 100%" (click)="gotoLobby()">Privates Spiel
          erstellen
        </button>
    </div>
  </div>
</div>
