<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Einstellungen
    </p>
  </header>
  <div class="card-content">

    <div class="field">
      <label class="label">Runden</label>
      <div class="control">
        <div class="select">
          <select [(ngModel)]="settings.selectedRounds" #round (change)="setRounds(round.value)">
            <option *ngFor="let round of rounds" [value]="round">
              {{ round }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Zeit</label>
      <div class="control">
        <div class="select">
          <select  [(ngModel)]="settings.selectedTime" #time (change)="setTime(time.value)">
            <option *ngFor="let time of times; let i = index" [value]="time">
              {{ time }}
            </option>
          </select>
        </div>
      </div>
    </div>


  </div>

</div>
