<div class="columns is-mobile is-centered">
  <div class="column is-narrow" fxLayoutAlign="center center">
    <button class="button is-medium is-rounded is-outlined" (click)="player.lastAvatar()">
              <span class="icon">
                <fa-icon [icon]="arrowLeft"></fa-icon>
              </span>
    </button>
  </div>
  <div class="column is-narrow">
    <figure class="image is-128x128 avatar">
      <img class="is-rounded" [src]="player.avatarUrl()" (click)="player.randomAvatar()" alt="Avatar">
    </figure>
  </div>
  <div class="column is-narrow" fxLayoutAlign="center center">
    <button class="button is-medium is-rounded is-outlined" (click)="player.nextAvatar()">
              <span class="icon">
                <fa-icon [icon]="arrowRight"></fa-icon>
              </span>
    </button>
  </div>
</div>
