<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Mitspieler
    </p>
  </header>
  <div class="card-content" *ngIf="players">

    <div class="columns">

      <div *ngFor="let player of players" fxLayout="column" fxLayoutGap="5px">
        <figure class="image is-128x128 avatar">
          <img class="is-rounded" [src]="player.avatarUrl()" alt="Avatar">
        </figure>
        <p class="has-text-centered is-marginless is-paddingless">{{player.username}}</p><span *ngIf="admin == player.id" class="admin has-text-centered">(ADMIN)</span>
      </div>

    </div>

  </div>
</div>
